* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  width: 100%;
  min-height: 100vh;
  padding: 50px 100px;
  font-family: "Barlow Semi Condensed", sans-serif;
  overflow-x: hidden;
  background-image: radial-gradient(
    circle at top,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
}

/* ################# UTIL 🚧 ################### */

.hide {
  display: none;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ################# NAME SECTION 📛 ################### */

.name-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.name-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.username-label {
  display: block;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 25px;
}

#username {
  padding: 10px;
  font-size: 25px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 5px;
  display: block;
  outline: transparent;
}

.name-btn {
  margin-top: 25px;
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  outline: transparent;
  border: none;
  border-radius: 5px;
  background-color: hsl(189, 59%, 53%);
  cursor: pointer;
  transition: 100ms linear;
}

.name-btn:hover {
  background-color: hsl(230, 89%, 62%);
}

.left {
  left: -50%;
  transition: 300ms linear;
}

/* ################# ROOMS 🏠 ################## */

.rooms {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  height: 100%;
  width: 50%;
  padding: 100px 0px;
  transition: 300ms linear;
}

.img-buffer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.img-bg {
  background-color: #fff;
  padding: 30px;
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 8px rgba(0, 0, 0, 0.2) inset;

  display: flex;
  align-items: center;
  justify-content: center;
}

.rock-img,
.paper-img,
.scissor-img {
  background-image: radial-gradient(hsl(349, 70%, 56%), hsl(349, 71%, 52%));
  margin-right: 30px;
  height: 140px;
  width: 140px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 -8px rgba(0, 0, 0, 0.2) inset;

  display: flex;
  align-items: center;
  justify-content: center;
}

.paper-img {
  background-image: radial-gradient(hsl(230, 89%, 65%), hsl(230, 89%, 62%));
}

.scissor-img {
  background-image: radial-gradient(hsl(40, 84%, 53%), hsl(39, 89%, 49%));
}

.room-btn {
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  color: #fff;
  background-color: #48c9b0;
  margin: 20px;
  outline: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 100ms linear;
}

.room-btn:hover {
  background-color: #2ecc71;
}

.cancel {
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  color: #fff;
  background-color: #f1948a;
  margin: 20px;
  outline: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 100ms linear;
}

.cancel:hover {
  background-color: #e74c3c;
}

.room-input {
  padding: 10px;
  font-size: 25px;
  font-weight: 400;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 5px;
  display: block;
  outline: transparent;
}

.create-room-buffer,
.join-room-buffer {
  width: 100%;
  margin-top: 30px;
}

.right {
  left: 150%;
  transition: 300ms linear;
}

/* ################# DASHBOARD 📃 ################## */

.dashboard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  height: 100%;
  width: 50%;
  padding: 100px 0px;
  transition: 300ms linear;
}

.players-head {
  background-color: #fff;
  padding: 20px;
  font-size: 30px;
  font-weight: 400;
  width: 100%;
  text-align: center;
}

.players-buffer {
  /* background-color: hsl(230, 89%, 62%); */
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(349, 70%, 56%);
  padding: 15px 30px;
}

.player:nth-child(2) {
  background-color: hsl(39, 89%, 49%);
}

.name {
  font-size: 22px;
  font-weight: 300;
  color: #fff;
}

.challenge {
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: hsl(189, 59%, 53%);
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  transition: 100ms linear;
}

.challenge:hover {
  background-color: hsl(230, 89%, 62%);
}

.you {
  font-size: 16px;
  color: #fff;
  background-color: hsl(168, 55%, 54%);
  font-weight: 500;
  border-radius: 5px;
  padding: 5px 10px;
}

.right-2 {
  left: 250%;
  transition: 300ms linear;
}

/* ################# FOOTER 🦶 ################## */

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  text-align: center;
  margin: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
